		<div class="footer">
			<h2>CST336 Internet Programming. 2020 &copy; Pourazari</h2>
			<p>It is used for academic purposes only.</p>
			<img src="/img/logo.png" alt="Picture of Bijan Pourazari" />
		</div>
    </body>
</html>