<%- include('partials/header.ejs') %>
		
		<div class="content">
			<h1 class="text-center">Backend Development</h1>
			<img class="img-fluid" src="img/backend.jpg" alt="Backend Development">
			<p>Hello <%= randomName %>!</p>
			<p>Backend development refers to the development that is done on a server. Recall that the web is a 
			client-server based system. A lot of the heavy duty lifting to make websites work is done on the server.
			A lot of complicated business logic as well as data access is handled here. Like the frontend, there are
			a plethora of different server side options. The programming languages used here include Java, Python,
			Ruby, and C#, as well as others. ASP.NET is an example of a full fledged backend framework. It allows
			programmers to develop REST API's that frontends can interact with. Another solution for development 
			REST API's is to use Express.JS in Node.JS. There is no single best solution to the problem of backend
			development, and programmers and their companies are free to find the framework that best fits their needs.
			</p>
			<p><a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET - Learn More</a></p>
			<p><a href="https://nodejs.org/">Node.js - Learn More</a></p>
			
			<blockquote class="blockquote text-center">
             <p class="mb-0">The significant problems we face cannot be solved by the same level of thinking that created them.</p>
             <footer class="blockquote-footer">Albert Einstien, <cite title="Source Title">Theoretical Physicist</cite></footer>
           </blockquote>
		</div>
		
		<%- include('partials/footer.ejs') %>