<%- include('partials/header.ejs') %>
		
		<div class="content">
			<h1 class="text-center">Database Development</h1>
			<img class="img-fluid" src="img/database.jpg" alt="Database Development">
			<p>Hello <%= randomName %>!</p>
			<p>Database development refers to the creation and management of a database to house data that is needed 
			for a web application to run effectively. There are both relational database and non-relational database 
			based solutions, and many different providers for SQL databases. SQL is the language used most commonly for
			Database management. Examples of SQL database providers are Oracle, MySQL, and SQL Server. An example of a 
			NoSQL database would be MongoDB. The importance of databases cannot be overstated. Data has to be stored somewhere,
			and most enterprise applications have a need to persist data. Additionally, the databases themselves must be 
			designed in a way to provide efficient database lookup, and the common database operations must be carried out
			in a time sensitive manner so that the application does not slow down.
			</p>
			
			<p><a href="https://www.microsoft.com/en-us/sql-server/">SQL Server - Learn More</a></p>
			<p><a href="https://www.oracle.com/database/technologies/appdev/sql.html/">Oracle - Learn More</a></p>
			
			<blockquote class="blockquote text-center">
             <p class="mb-0">I do not fear computers. I fear lack of them.</p>
             <footer class="blockquote-footer">Isaac Asimov, <cite title="Source Title">Writer/Professor</cite></footer>
           </blockquote>
		</div>
		
		<%- include('partials/footer.ejs') %>