<%- include('partials/header.ejs') %>
		
		<div class="content">
			<h1 class="text-center">Frontend Development</h1>
			<img class="img-fluid" src="img/frontend.jpg" alt="Frontend Development">
			<p>Hello <%= randomName %>!</p>
			<p>Frontend web development is also referred to as Client side development, since the frontend technologies
			all run in the browsers, or client. The main technologies that front end developers will be using are HTML,
			CSS, and Javascript. Modern frontend development often leverages the use of frameworks. Currently, three of
			the most popular frontend frameworks are Angular, Vue, and React.
			</p>
			
			<p><a href="https://angular.io/">Angular - Learn More</a></p>
			<p><a href="https://reactjs.org/">React - Learn More</a></p>
			<p><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Overview">HTTP - Learn More</a></p>
			
			<blockquote class="blockquote text-center">
             <p class="mb-0">There are 10 people in the world, those who can read binary and those who cannot.</p>
             <footer class="blockquote-footer">Anonymous</footer>
           </blockquote>
		</div>
		
		<%- include('partials/footer.ejs') %>