		<%- include('partials/header.ejs') %>
		<div class="content">
			<h1 class="text-center">Web  Development</h1>
			<img class="img-fluid" src="/img/webdevelopment.png" alt="Software Development">
			<p>Hello <%= randomName %>!</p>
			<p>In this website we will discuss Web Development accross the full development stack. This full stack model
			includes the frontend client, the backend server, and the database. There are many different implementations of
			this full stack. The MEAN stack, the MERN stack, and the LAMP stack are such examples. A "stack" of technologies
			is just the list of technologies used at each layer to produce a web application. For example, MEAN refers to 
			MongoDB, ExpressJS, AngularJS, and Node.js. A successful and well developed Web Application is built up of the
			frontend, backend, and database all linked together. In the rest of the site we will discuss each individual part
			of the application in detail.</p>
			
			<blockquote class="blockquote text-center">
             <p class="mb-0">The computer was born to solve problems that did not exist before.</p>
             <footer class="blockquote-footer">Bill Gates <cite title="Source Title">Microsoft Founder</cite></footer>
           </blockquote>
			
		</div>
		<%- include('partials/footer.ejs') %>
